<section id="existing_ideas">
  <h2>Existing Ideas</h2>

  <%= partial :'partials/existing_idea', collection: @ideas %>

  <a href="/">Sort by Rank</a>
  <a href="/sort_by_tags">Sort by Tags</a>
</section>
