<section id="new_idea">
  <h2>New Idea</h2>

  <form action="/" name="new_idea" onsubmit="return validateForm();" method="post">
    <div class='new_input'>
      <label for="new_title">Title:</label>
      <input type="text" name="idea[title]" id="new_title" class="input"/><br/>
    </div>
    <div class='new_input'>
      <label for="new_description">Description:</label>
      <textarea name="idea[description]" id="new_description" class="input"></textarea><br/>
    </div>
    <div class='new_input'>
      <label for="new_tags">Tags:</label>
      <input type="text" name="idea[tags]" id="new_tags" class="input"/><br/>
    </div>
    <div class='new_input'>
      <label for="new_idea_group">Idea Group:</label>
      <select name="idea[group]" class="input">
        <%= partial :'partials/group_option', collection: @groups %>
      </select><br/>
    </div>
    <div class="new_input">
      <input type="submit" class="input">
    </div>
  </form>
</section>
